body{
    background-color: #e0d8c8;
    font-family: "Roboto";
    text-align: center;
}

/*Aqui el css global de las cards*/
.card{
    text-align: left;
    color: white;
    background-color: #c8414e;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    border-radius: 20px;
}
.cardref{
    text-decoration: none;
}
.cardtext{
    padding: 3%;
    z-index: 2;
}
.cardtext h2{
    font-size: medium;
}
.cardtext p{
    font-size: small;
    margin: 0px;
}
.cardimg{
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 100px;
    z-index: 1;
}
.cardimg img{  
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
